<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div>
<h2> My tasks </h2>
      <% @tasks.each do |task| %>
    <div>
     <p><%= link_to task.title, task_path(task) %>
      <small><%= link_to '--Delete?', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></small>
      <% if task.completed? %>
        <i class="far fa-check-square"></i>
      <% else %>
        <i class="far fa-square"></i>
      </p>
    </div>
    <% end %>
  <% end %>
</div>

<div>

   <%=link_to 'Add a new task !', tasks_new_path(@task) %>


</div>
<script src="https://kit.fontawesome.com/178ee21d10.js" crossorigin="anonymous"></script>
